<div class="row row-cards">
    <div class="col-12">
        <div class="card">
            <div class="card-body">@ViewBag.Msg</div>
        </div>
        <div class="btn-list flex-nowrap">
           
            <a href="/"  class="btn btn">Home Page</a>
        </div>
    </div>
</div>